@import "common";

.blogContainer {
  .publicContainer;
  .content {
    .publicContent;
    .flex-main-justify();
    .left {
      width: 20%;

    }
    .right {
      flex: 1;
      .articleList {
        display: flex;
        flex-direction: column;
        .articleItem {
          margin-bottom: 20px;
          box-shadow: 2px 2px 5px #000000;
          border-radius: 4px;
          padding: 16px 24px;
          .title {
            text-align: center;
            font-size: 24px;
            margin-bottom: 16px;
          }
          .text {
            font-size: 16px;
          }
        }
      }
    }
  }
}