@import "common";

.liveContainer {
  .publicContainer;
  .content {
    .publicContent;
    .title {
      font-size: 30px;
      font-weight: bold;
      line-height: 50px;
      margin-bottom: 20px;
      font-family: "Yuanti TC";
      color: #81ec4b;
      .animation(fadeIn .5s ease)
    }
    .contentTop {
      .swiperContainer {
        img {
          display: block;
          width: 100%;
        }
        width: 70%;
        .animation(fadeInLeft .5s ease)
      }
      .flex-main-justify;
      .funBar {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;
        border-radius: 4px;
        box-shadow: 2px 2px 5px #383737;
        color: black;
        padding: 16px 24px;
        box-sizing: border-box;
        margin-left: 20px;
        .animation(fadeInRight .5s ease)
      }
    }
    .arrowDown {
      text-align: center;
      .animation(fadeInDown 1s infinite ease);
      width: 100%;
      margin: 20px 0;
      color: #fff;
    }
    .photoWall {
      .albumRow {
        display: flex;
        justify-content: flex-start;
        .album {
          width: 24%;
          background: white;
          height: 200px;
        }
      }
    }
    .photoWallBar {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      color: white;
      align-items: center;
      > div:nth-last-child(1) {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}