@import "src/assets/less/utils";

.commonWidth {
  width: 1200px;
  margin: auto;
}

.layoutsContainer {
  height: 1000px;
}

.header {
  height: 120px;
  background: black;
  .flex-main-justify();
  color: #fff;
  .content {
    .commonWidth;
    .flex-main-justify();
    .logo {
      display: flex;
      align-items: center;
    }
    .toolBar {
      .flex-main-justify();
      .tabs {
        .flex-main-justify();
        margin-right: 30px;
      }
      .userMenu {
        .flex-main-justify();
      }
    }
  }
}

.content {
  color: #fff;
  background: black;
  .content {
    .commonWidth;
    .context {
      display: flex;
      justify-content: space-around;
      .aside {
        .text {
          padding: 30px 0;
          > p {
            color: #a1a1a1;
            font-size: 24px;
            line-height: 40px;
            font-family: "Yuanti SC";
            &:nth-last-of-type(1) {
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
          }
        }
        .player {
          border-radius: 4px;
          overflow: hidden;
          :global {
            .aplayer {
              margin: 0;
            }
            .aplayer.aplayer-withlist .aplayer-info {
              background: purple ;
            }
            .aplayer .aplayer-pic {
              height: 66px;
            }
            .aplayer.aplayer-withlist .aplayer-list {
              background: hotpink;
            }
            .aplayer .aplayer-list ol li.aplayer-list-light {
              background: #1976d2;
            }
            .aplayer .aplayer-list ol li:hover {
              background: #74b2ef;
            }
            .aplayer .aplayer-list ol li {
              border: none;
            }
            .aplayer.aplayer-withlist .aplayer-info {
              border: none;
            }
            .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon:hover path {
              fill: white;
            }
            .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path {
              fill: white;
            }
            .aplayer .aplayer-list ol li.aplayer-list-light .aplayer-list-cur {
              background: purple!important;
            }
            .aplayer .aplayer-list ol li .aplayer-list-index {
              color: #fff;
            }
            .aplayer .aplayer-info .aplayer-music .aplayer-author {
              color: #d8d8d8;
            }
            .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
              background: #fff;
            }
            .aplayer .aplayer-info .aplayer-controller .aplayer-time {
              color: #fff;
            }
            .aplayer .aplayer-list ol li .aplayer-list-author {
              color: #d8d8d8;
            }
          }
        }
      }
    }
  }
}

.footer {
  color: #a1a1a1;
  font-size: 13px;
  text-align: center;
  padding: 20px 0;
  background: black;
  line-height: 30px;
  .content {
    .commonWidth;

  }
}